@model IEnumerable<BumboPoC.Domain.WorkedShift>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Voornaam
        </th>
        <th>
            Tussenvoegsel
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Geplande_Starttijd
        </th>
        <th>
            Geplande_Eindtijd
        </th>
        <th>
            Starttijd
        </th>
        <th>
            Eindtijd
        </th>
        <th>
            Verschil
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeBlock.StartTime.LocalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeBlock.EndTime.LocalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEntry.StartDateTime.LocalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEntry.EndDateTime.LocalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEntry.ApproveStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.TimeEntry.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.TimeEntry.Id}) |
                @Html.ActionLink("Verify", "Verify", new {id = item.TimeEntry.Id}) |
            </td>
        </tr>
    }
    </tbody>
</table>